body {
  margin: 0;
  padding: 0;
  font-family: $mainFontFamily;
  color: $mainFontColor;
  background-color: $mainBcg;
}

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 480px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section-title {
  @extend %text;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
